h1
{
	color: green;
	font-family: Georgia;
}

p
{
	color: red;
	background-color: green;
	padding: 15px;
}

ul
{
	color: blue;
}


li
{
	margin: 10px 15px;
	background-color: purple;
}

img
{
	border: solid 10px black;
	padding: 20px;
	margin: 30px;
}

div
{
	margin: 20px auto;
	width: 800px;
	background-color: rgb(255,255,255);
	padding: 30px;
}

.content
{
	background-color: rgb(230,240,250);
}

